[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
tqdm = "*"
click = "*"
pyfiglet = "*"
pymysql = "*"

[requires]
python_version = "3.7"
